[mysqld]
# 文字コードの設定
character-set-server=utf8mb4

# ログの設定
# log-error=/var/log/mysql/error.log
# log_warnings=2

# インデックスの最大サイズを設定
key_buffer_size=256M

# デフォルトのストレージエンジンをInnoDBに設定
# default_storage_engine=InnoDB

# バイナリログの設定
# server-id=1
# log_bin=/var/log/mysql/mysql-bin.log

# その他の設定
max_allowed_packet=16M
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

